/*Colors*/
$color-one: rgba(147, 86, 220, 1);
$color-one--10: rgba(147, 86, 220, 0.1);
$color-two: #ff79da;
$color-three: #99e2d0;
$color-text-label: #008766;
$background-color-main: #fff;
$background-color-footer: #353535;
$background-color-grey: #f6f6f6;
$background-color-dark-grey: #eaeaea;

a {
    outline: none;
    display: flex;
    text-decoration: none;
    &:visited {
        color: black;
    }
}
ul {
    padding: 0;
    list-style: none;
}
body,
html {
    margin: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
h1 {
    margin: 50px 0 0 0;
}

button {
    margin-top: 30px;
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    background-image: linear-gradient(
        to bottom,
        $color-two 1%,
        $color-two 0%,
        $color-one 100%
    );
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    &:hover {
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
        filter: brightness(107%);
    }
}

/* header */
.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0 20px;
    min-height: 63px;
    align-items: center;
    background-color: $background-color-main;
    .header {
        &__logo {
            display: flex;
            grid-area: 1 / 2 / 2 / 5;
            justify-content: center;
            img {
                width: 100%;
                max-width: 164px;
            }
        }
        &__btn-back {
            display: none;
            grid-area: 1 / 1 / 2 / 2;
            img {
                width: auto;
            }
        }
    }
}
.cityMapping {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    background-color: $background-color-dark-grey;
}
/* Option selon ville  */
.cityOptions {
    padding: 0 20px 50px 20px;
    background-color: $background-color-grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p,
    h1 {
        max-width: 80%;
    }
}
/* Tutorial */
.engineNotice {
    padding: 0 20px;
    &__li__icn {
        color: #7e7e7e;
        margin: 27px;
    }
    ol {
        margin: 30px 0px 68px 15px;
        padding: 0;
        counter-reset: steps;
    }
    ol li {
        display: flex;
        height: 73px;
        background-color: $background-color-grey;
        align-items: center;
        margin: 13px 0;
        list-style: none;
        counter-increment: steps;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.15);
        border-radius: 25px;
        &:hover {
            background-color: $color-one--10;
            .engineNotice__li__icn {
                color: $color-one;
            }
        }
        &::before {
            margin-left: -15px;
            offset-position: left;
            display: flex;
            padding: 5px 10px;
            color: white;
            content: counter(steps);
            border-radius: 50%;
            background-color: $color-one;
        }
    }
}
/* Restaurants */
.resto {
    width: calc(100% - 40px);
    background-color: $background-color-grey;
    padding: 0px 20px 48px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    h1 {
        margin: 60px 0 25px 0;
    }
    &__item {
        background-color: white;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.15);
        margin-bottom: 17px;

        &__pic {
            position: relative;
            width: 100%;
            img {
                width: calc(100%);
                max-height: 174px;
                object-fit: cover;
                border-radius: 25px 25px 0 0;
            }
            &__label {
                background-color: $color-three;
                width: 80px;
                height: 29px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 13px;
                top: 13px;
                color: $color-text-label;
                font-size: 0.9em;
                font-weight: 500;
            }
        }
        &__bar {
            a {
                display: flex;
                flex-grow: 1;
            }
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 14px;
            &__infos {
                flex-grow: 1;
                &__name {
                    margin: 15px 0 0 0;
                    font-size: 13pt;
                }
                &__location {
                    margin: 5px 0 17px 0;
                    font-weight: 100;
                    font-size: 12pt;
                }
            }
            &__fav {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                &__icn-checked {
                    display: none;
                }
                &:hover {
                    .resto__item__bar__fav__icn-checked {
                        display: block;
                    }
                    .resto__item__bar__fav__icn-unchecked {
                        display: none;
                    }
                }
            }
        }
    }
}
.gradientIcon,
.gradientIcon:before {
    display: inline;
    color: #9c47fc;
    display: block;
    background: -webkit-linear-gradient(#fff, #356ad2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Footer */

.footer {
    width: calc(100% - 40px);
    padding: 15px 20px;
    color: white;
    background-color: $background-color-footer;
    &__container {
        &__icn {
            padding-right: 10px;
        }
    }
    a {
        color: white;
        &:visited {
            color: white;
        }
    }
    h2 {
        font-family: Shrikhand;
        font-size: 14pt;
        font-weight: 400;
    }
    ul > li {
        display: flex;
        align-items: center;
        line-height: 1.7em;
        font-weight: 500;
        font-size: 11pt;
    }
}
