/*Colors*/
$color-one: rgba(147, 86, 220, 1);
$color-one--10: rgba(147, 86, 220, 0.1);
$color-two: #ff79da;
$color-three: #99e2d0;
$background-color-main: #fff;
$background-color-footer: #353535;
$background-color-grey: #f6f6f6;
$background-color-dark-grey: #eaeaea;
body,
html {
    margin: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
h1 {
    margin: 50px 0 0 0;
}
/* header */
header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0 20px;
    min-height: 63px;
    align-items: center;
    background-color: $background-color-main;
}
.header__logo {
    display: flex;
    grid-area: 1 / 2 / 2 / 5;
    justify-content: center;
    img {
        width: 100%;
        max-width: 164px;
    }
}
.header__btn-back {
    display: none;
    grid-area: 1 / 1 / 2 / 2;
    img {
        width: auto;
    }
}
.cityMapping {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    background-color: $background-color-dark-grey;
}
.cityOptions {
    padding: 0 20px 50px 20px;
    background-color: $background-color-grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p,
    h1 {
        max-width: 90%;
    }
    button {
        margin-top: 30px;
        border: 0;
        padding: 0.75rem 1.5rem;
        font-weight: 500;
        font-size: 1.1rem;
        border-radius: 100px;
        color: white;
        background-image: linear-gradient(
            to bottom,
            $color-two 1%,
            $color-two 0%,
            $color-one 100%
        );
        cursor: pointer;
        transition-duration: 0.25s;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    }
}
.engineNotice {
    padding: 0 20px;
    ol {
        margin: 30px 0px 30px 15px;
        padding: 0;
        counter-reset: steps;
    }
    .engineNotice__li__icn {
        color: #7e7e7e;
        margin: 27px;
    }
    ol li {
        display: flex;
        height: 73px;
        background-color: $background-color-grey;
        align-items: center;
        margin: 13px 0;
        list-style: none;
        counter-increment: steps;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        &:hover {
            background-color: $color-one--10;
            .engineNotice__li__icn {
                color: $color-one;
            }
        }
        &::before {
            margin-left: -15px;
            offset-position: left;
            display: flex;
            padding: 5px 10px;
            color: white;
            content: counter(steps);
            border-radius: 50%;
            background-color: $color-one;
        }
    }
}
