/*Colors*/
$color-one: rgba(147, 86, 220, 1);
$color-one--10: rgba(147, 86, 220, 0.1);
$color-two: #ff79da;
$color-three: #99e2d0;
$color-text-label: #008766;
$background-color-main: #fff;
$background-color-footer: #353535;
$background-color-grey: #f6f6f6;
$background-color-dark-grey: #eaeaea;

a {
    outline: none;
    color: black;
    display: flex;
    text-decoration: none;
    &:visited {
        color: black;
    }
}
ul {
    padding: 0;
    list-style: none;
}
body,
html {
    overflow-x: hidden;
    margin: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
h1 {
    margin: 50px 0 0 0px;
}

button {
    margin-top: 30px;
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    background-image: linear-gradient(
        to bottom,
        $color-two 1%,
        $color-two 0%,
        $color-one 100%
    );
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    &:hover {
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
        filter: brightness(107%);
    }
}
/* Loader */
.loader {
    transition: ease-in-out;
    background-color: #fff;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: Shrikhand, sans-serif;
    font-size: x-large;
    position: fixed;
    z-index: 9999;
    animation: loader 3s;
    visibility: hidden;
    &__brand {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9999;

        & span {
            padding-bottom: 15px;
        }
    }
    &__spinner {
        z-index: 9998;
        width: 200px;
        height: 200px;
        background-color: $background-color-main;
        border-radius: 50%;
        border: 3px solid $color-one--10;
        border-top: solid 2px $color-one;
        animation: spinner 0.75s infinite;
    }
}
@keyframes loader {
    0% {
        visibility: visible;
        opacity: 0.95;
    }
    100% {
        visibility: hidden;
        opacity: 0.95;
    }
}
@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* header */
.header {
    margin: auto;
    display: grid;
    max-width: 1120px;
    align-self: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0 20px;
    min-height: 63px;
    align-items: center;
    background-color: $background-color-main;
    .header {
        &__logo {
            display: flex;
            grid-area: 1 / 2 / 2 / 5;
            justify-content: center;
            img {
                width: 100%;
                max-width: 164px;
            }
        }
        &__btn-back {
            grid-area: 1 / 1 / 2 / 2;
            img {
                width: auto;
            }
        }
    }
}
.cityMapping {
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    background-color: $background-color-dark-grey;
    & i {
        margin-right: 18px;
        margin-left: -18px;
    }
}
/* Option selon ville  */
.cityOptions {
    padding: 0 20px 50px 20px;
    background-color: $background-color-grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p,
    h1 {
        max-width: 80%;
    }
}
/* Tutorial */
.engineNotice {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    h1 {
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        max-width: 1120px;
        align-self: center;
        flex-wrap: wrap;
        width: 100%;
    }
    &__li__icn {
        color: #7e7e7e;
        margin: 27px;
    }
    ol {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;
        margin: 30px 0px 68px 0px;
        padding: 0;
        counter-reset: steps;
    }
    ol li {
        min-width: 305px;
        margin-left: 15px;
        display: flex;
        height: 73px;
        background-color: $background-color-grey;
        align-items: center;
        margin: 13px 0;
        list-style: none;
        counter-increment: steps;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.15);
        border-radius: 25px;
        &:hover {
            background-color: $color-one--10;
            .engineNotice__li__icn {
                color: $color-one;
            }
        }
        &::before {
            margin-left: -15px;
            offset-position: left;
            display: flex;
            padding: 5px 10px;
            color: white;
            content: counter(steps);
            border-radius: 50%;
            background-color: $color-one;
        }
    }
}
/* Restaurants */
.resto {
    width: 100%;
    background-color: $background-color-grey;
    padding: 0px 0px 48px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        width: 100%;
        max-width: 1120px;
        padding: 0 20px;
    }
    h1 {
        width: 100%;
        margin: 60px 0 25px 0px;
    }
    &__item {
        background-color: white;
        max-width: 520px;
        min-width: 340px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.15);
        margin-bottom: 17px;

        &__pic {
            position: relative;
            width: 100%;
            img {
                width: calc(100%);
                max-height: 174px;
                object-fit: cover;
                border-radius: 25px 25px 0 0;
            }
            &__label {
                background-color: $color-three;
                width: 80px;
                height: 29px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 13px;
                top: 13px;
                color: $color-text-label;
                font-size: 0.9em;
                font-weight: 500;
            }
        }
        &__bar {
            a {
                display: flex;
                flex-grow: 1;
            }
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 14px;
            &__infos {
                flex-grow: 1;
                &__name {
                    margin: 15px 0 0 0;
                    font-size: 13pt;
                }
                &__location {
                    margin: 5px 0 17px 0;
                    font-weight: 100;
                    font-size: 12pt;
                }
            }
            &__fav {
                cursor: pointer;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.gradientIcon {
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    &:hover {
        animation: fill 0.3s;
        display: inline-block;
        opacity: 1;
        background: linear-gradient(45deg, $color-two, $color-one);
        background: -webkit-linear-gradient(45deg, $color-two, $color-one);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}
@keyframes fill {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Footer */

.footer {
    width: calc(100% - 40px);
    padding: 15px 20px;
    color: white;
    background-color: $background-color-footer;
    &__container {
        &__icn {
            padding-right: 10px;
        }
    }
    a {
        color: white;
        &:visited {
            color: white;
        }
    }
    h2 {
        font-family: Shrikhand;
        font-size: 14pt;
        font-weight: 400;
    }
    ul > li {
        display: flex;
        align-items: center;
        line-height: 1.8rem;
        font-weight: 500;
        font-size: 11pt;
    }
}
@media screen and (min-width: 1024px) {
    .footer ul {
        display: flex;
        justify-content: space-between;
    }
    .footer {
        li {
            margin: 0 20px;
        }
        display: flex;
        justify-content: center;
        &__container {
            width: 1120px;
            display: flex;
            justify-content: space-between;
        }
    }
    .resto__wrap {
        justify-content: space-between;
    }
    .engineNotice ol {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .engineNotice ol li {
        min-width: 300px;
        &:first-child {
            margin-left: 15px;
        }
    }
}
@media screen and (min-width: 700px) {
    .resto__item {
        margin: 20px 20px;
    }
}
