.restoMain {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restoMain__pic {
  position: relative;
}

.restoMain__pic img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restoMain__bottombar {
  border-radius: 100px 100px 0 0;
  background-color: #f6f6f6;
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
}

.restoMain__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 40px 0 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restoMain__title h1 {
  margin: 0;
  font-size: 19pt;
  font-family: Shrikhand;
  font-weight: 400;
}

.menu {
  padding: 20px 20px;
  background-color: #f6f6f6;
}

.menu li {
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px 15px 15px;
  margin-bottom: 14px;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  max-width: 400px;
}

.menu__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__sub h4 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 8px;
}

.menu__sub__line {
  height: 3px;
  background-color: #99e2d0;
  width: 40px;
}

.menu__sub__name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__sub__name h4 {
  text-transform: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14pt;
  font-weight: 500;
  margin: 0px 0px 7px 0px;
}

.menu__sub__name span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11pt;
  font-weight: 300;
}

.menu__sub__price {
  width: 10%;
  font-size: 11pt;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__sub__price span {
  text-overflow: ellipsis;
}

.menuItem {
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: itemAppear 1s;
          animation: itemAppear 1s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menuItem__confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-radius: 0 20px 20px 0;
}

.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}

.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menuItem:hover .menuItem__wrapIcon {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menuItem__icon {
  color: #99e2d0;
}

/* Delay Animation */
.time-0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.time-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.time-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.time-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.time-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.time-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.time-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.time-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.time-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.time-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes itemAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes itemAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=pages.css.map */