button {
    margin-top: 30px;
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    background-image: linear-gradient(
        to bottom,
        $color-two 1%,
        $color-two 0%,
        $color-one 100%
    );
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    &:hover {
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
        filter: brightness(107%);
    }
}

/*Coeur Favoris*/
.gradientIcon {
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    &:hover {
        animation: fill 0.3s;
        display: inline-block;
        opacity: 1;
        background: linear-gradient(45deg, $color-two, $color-one);
        background: -webkit-linear-gradient(45deg, $color-two, $color-one);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        background-clip: text;
    }
}
