/* Loader */
.loader {
    transition: ease-in-out;
    background-color: #fff;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: Shrikhand, sans-serif;
    font-size: x-large;
    position: fixed;
    z-index: 9999;
    animation: loader 3s;
    visibility: hidden;
    &__brand {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9999;

        & span {
            padding-bottom: 15px;
        }
    }
    &__spinner {
        z-index: 9998;
        width: 200px;
        height: 200px;
        background-color: $background-color-main;
        border-radius: 50%;
        border: 3px solid $color-one--10;
        border-top: solid 2px $color-one;
        animation: spinner 0.75s infinite;
    }
}
