/* Option selon ville  */
.cityOptions {
    padding: 0 20px 50px 20px;
    background-color: $background-color-grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p,
    h1 {
        max-width: 80%;
    }
}
/* Tutorial */
.engineNotice {
    display: flex;
    padding: 0 20px;
    flex-direction: column;

    &__wrap {
        display: flex;
        flex-direction: column;
        max-width: 1120px;
        align-self: center;
        flex-wrap: wrap;
        width: 100%;
    }
    &__li__icn {
        color: #7e7e7e;
        margin: 27px;
    }
    ol {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;
        margin: 30px 0px 45px 0px;
        padding: 0;
        counter-reset: steps;
    }
    ol li {
        min-width: 305px;
        margin-left: 15px;
        display: flex;
        height: 73px;
        background-color: $background-color-grey;
        align-items: center;
        list-style: none;
        counter-increment: steps;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.15);
        border-radius: 25px;
        margin-top: 0;
        margin-bottom: 23px;
        &:hover {
            background-color: $color-one--10;
            .engineNotice__li__icn {
                color: $color-one;
            }
        }
        &::before {
            margin-left: -15px;
            offset-position: left;
            display: flex;
            padding: 5px 10px;
            color: white;
            content: counter(steps);
            border-radius: 50%;
            background-color: $color-one;
        }
    }
}
/* Restaurants */
.resto {
    width: 100%;
    background-color: $background-color-grey;
    padding: 0px 0px 48px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        width: 100%;
        max-width: 1120px;
        padding: 0 20px;
    }
    h2 {
        width: 100%;
        margin: 60px 0 25px 0px;
    }
    &__item {
        background-color: white;
        min-width: 340px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.15);
        margin-bottom: 17px;
        width: 49%;

        &__pic {
            position: relative;
            width: 100%;
            img {
                width: calc(100%);
                max-height: 174px;
                object-fit: cover;
                border-radius: 25px 25px 0 0;
            }
            &__label {
                background-color: $color-three;
                width: 80px;
                height: 29px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 13px;
                top: 13px;
                color: $color-text-label;
                font-size: 0.9em;
                font-weight: 500;
            }
        }
        &__bar {
            a {
                display: flex;
                flex-grow: 1;
            }
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 14px;
            &__infos {
                flex-grow: 1;
                &__name {
                    margin: 15px 0 0 0;
                    font-size: 13pt;
                }
                &__location {
                    margin: 5px 0 17px 0;
                    font-weight: 100;
                    font-size: 12pt;
                }
            }
            &__fav {
                cursor: pointer;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.gradientIcon {
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    &:hover {
        animation: fill 0.3s;
        display: inline-block;
        opacity: 1;
        background: linear-gradient(45deg, $color-two, $color-one);
        background: -webkit-linear-gradient(45deg, $color-two, $color-one);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        background-clip: text;
    }
}

@media screen and (min-width: 1024px) {
    .resto__wrap {
        justify-content: space-between;
    }
    .engineNotice ol {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .engineNotice ol li {
        min-width: 300px;
        &:first-child {
            margin-left: 15px;
        }
    }
}

@media screen and (max-width: 720px) {
    .resto__item {
        width: 100%;
    }
}
