/*Colors*/
$color-one: rgba(147, 86, 220, 1);
$color-one--10: rgba(147, 86, 220, 0.1);
$color-two: #ff79da;
$color-three: #99e2d0;
$color-text-label: #008766;
$background-color-main: #fff;
$background-color-footer: #353535;
$background-color-grey: #f6f6f6;
$background-color-dark-grey: #eaeaea;

/*breakpoints*/
$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px,
);
